@model IEnumerable<crssAssetDV.Models.RepairNote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Device.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loan.LoanType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.People.MIS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairType.Repair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Device.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loan.LoanType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.People.MIS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairType.Repair)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepairCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
