@model crssAssetDV.Models.Devices

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Devices</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edquip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edquip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialisedDevice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialisedDevice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPowerSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPowerSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPowerCable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPowerCable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accessories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damaged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damaged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WriteOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WriteOff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
