@model crssAssetDV.ViewModels.LoanNoteViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


@using (Html.BeginForm("Details", "Loans"))
{
    @Html.HiddenFor(model => model.Loans.Id)
    @Html.AntiForgeryToken()
}
    <div>
        <h4>Loan</h4>
        <hr />
        <dl class="dl-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Loans.People.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.People.FullName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.DeviceId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.Device.Edquip, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Loans.DeviceId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.Device.Serial, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.LoanTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.LoanType.Type, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Loans.Classroom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Loans.Classroom, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.StartDate, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Loans.SpecialNote, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.SpecialNote, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.SuppliedCable, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.SuppliedCable)

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.SuppliedCover, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.SuppliedCover)

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.SuppliedPowerBlock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.SuppliedPowerBlock)

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.OampsUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.OampsUpdated)

                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Loans.IntuneUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.IntuneUpdated)

                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Loans.EdquipSigned, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.EdquipSigned)

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.Current, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.DisplayFor(model => model.Loans.Current)

                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Loans.ReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Loans.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

           @foreach (var LoanNote in Model.LoanNotes)
        {
            @LoanNote.Note 
        }


</div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
